.link-logo-a{
	display: inline-block;
	width: 140px;
	height:60px;
	background-image: url(../img/new_logo.png);
	background-size: cover;
	vertical-align: middle;
	/*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;*/
}