.link-logo-a{
	display: inline-block;
    width: 80px;
    height: 44px;
	background-image: url(../img/link_logo.png);
	background-size: cover;
	vertical-align: middle;
	background-position: 80px;
	/*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;*/
}
.link-logo-a:hover{
	background-position: 3px;
}
