/* CSS3 STYLE GENERIC */
.view {
   width: 100%;
   height: auto;
   border: 1px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
   display: flex;
  flex-direction: column;
  justify-content: center;
}
.view .mask, .view .content {
   width: 100%;
   height: auto;
   position: absolute;
   overflow: hidden;
   top: 0;
   vertical-align: middle;
   left: 0;
}
.view *{

}
.view img {
   display: block;
   position: relative;
   width: 100%;
}

/* CSS3 EFFECTS */

/* THIRD EFFECTS */

.third-effect .mask {
   display: flex;
  flex-direction: column;
  justify-content: center;
   opacity: 0;
   vertical-align: middle;
   width: 100%;
   height: 100%;
   overflow:visible;
   background-color: rgba(0,0,0,0.4);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.third-effect:hover .mask {
   opacity: 1;
}
