.moldura-landing__borda{
	
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}
.moldura-landing__borda .layer{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
body{
	font-family: sans-serif !important;
}
.teamjaabaz{
	font-size: 3rem;
	font-weight: 1800;
	text-decoration:bold;
	font-family: 'Tagesschrift';
}

.frase {
	text-align: center;
	font-size: 20px;
	font-family: "playfair-black";
	margin-top: 30px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-animation: up 1s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards, fade 0.5s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
	-webkit-animation: up 1s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards, fade 0.5s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
	animation: up 1s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards, fade 0.5s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
	letter-spacing: 10.542px
}
.logo-cappen-landing {
	display: block;
	position: absolute;
	width: 468px;
	height: 260px;
	margin-left: -76px;
	top: 12%;
	left: 36%;
	background: url('../img/logo.png') 0 0 no-repeat;
	background-size: auto 100%;
	-moz-animation: down 1s cubic-bezier(0.42, 0, 0, 0.995), fade 1s cubic-bezier(0.42, 0, 0, 0.995);
	-webkit-animation: down 1s cubic-bezier(0.42, 0, 0, 0.995), fade 1s cubic-bezier(0.42, 0, 0, 0.995);
	animation: down 1s cubic-bezier(0.42, 0, 0, 0.995), fade 1s cubic-bezier(0.42, 0, 0, 0.995)
}
@media(max-width: 1025px){
	.logo-cappen-landing{
		width: 300px;
		height: 150px;
		top: 14%;
		left: 45%;
	}
}
@media(max-width: 769px){
	.logo-cappen-landing{
		width: 220px;
		height: 130px;
		top: 20%;
		left: 43%;
	}
	.frase{
		margin-top: 200px;
		text-align: center;
		font-size: 14px !important;
	}
	.teamjaabaz{
		font-size: 1.8rem;
		text-align: center;
		display: block;
	}
}
/*.layer{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);

	}*/
	body, #home{
		background-color: #000 !important;
	}
	body *{
		cursor: default;
	}
	a:hover{
		cursor: pointer !important;
	}
	.link-landing{
		cursor: pointer !important;
	}
