.cb-slideshow,
.cb-slideshow li span,
.cb-slideshow:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

.cb-slideshow,
.cb-slideshow:after {
    background-color: #000
}

.cb-slideshow:after {
    content: '';
    background: url(../img/homeslider/pattern.png) top left
}

.cb-slideshow li span {
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../img/homeslider/3.JPG)
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(../img/homeslider/1.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(../img/homeslider/2.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(../img/homeslider/3.JPG);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(../img/homeslider/1.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s
}

.cb-slideshow li:nth-child(7) span {
    background-image: url(../img/homeslider/2.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s
}


@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in
    }

    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out
    }

    17% {
        opacity: 1;
        -webkit-transform: scale(1.1)
    }

    25% {
        opacity: 0;
        -webkit-transform: scale(1.1)
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in
    }

    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out
    }

    17% {
        opacity: 1;
        -moz-transform: scale(1.1)
    }

    25% {
        opacity: 0;
        -moz-transform: scale(1.1)
    }

    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in
    }

    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out
    }

    17% {
        opacity: 1;
        -o-transform: scale(1.1)
    }

    25% {
        opacity: 0;
        -o-transform: scale(1.1)
    }

    100% {
        opacity: 0
    }
}

@-ms-keyframes imageAnimation {

    17%,
    8% {
        opacity: 1
    }

    17%,
    25% {
        -ms-transform: scale(1.1)
    }

    0%,
    100%,
    25% {
        opacity: 0
    }

    0% {
        -ms-animation-timing-function: ease-in
    }

    8% {
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in
    }

    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out
    }

    17% {
        opacity: 1;
        transform: scale(1.1)
    }

    25% {
        opacity: 0;
        transform: scale(1.1)
    }

    100% {
        opacity: 0
    }
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1
}

@media screen and (max-width:1140px) {
    .cb-slideshow li div h3 {
        font-size: 100px
    }
}

@media screen and (max-width:600px) {
    .cb-slideshow li div h3 {
        font-size: 50px
    }
}