/*.layerbg{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}*/
/*.layer{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}*/
.work__tags{
	font-size: 1rem;
	width: 80%;
	text-decoration: none !important;
}
/* For VIT University*/
.vituniversitybg .work__obj , .vituniversitybg{
	background-color: transparent;;
	background-image: url('../img/vituniversity.png') !important;
	background-size: cover;
	background-position: 0px -50px;
}

/* For Baja SAE*/
.bajasaebg .work__obj, .bajasaebg{
	background-color: transparent;
	background-image: url('../img/bajasaebg.png') !important;
	background-size: cover;
}
/* For Team Jaabaz*/
.teamjaabazbg .work__obj, .teamjaabazbg{
	background-image: url('../img/teamjaabazbg.png') !important;
	background-size: cover;
top: 0%;
}
/* For Our Objecttive*/
.ourobjectivebg{
	background-color: #000;
}
/* For Meet the team*/
.meettheteambg .work__obj, .meettheteambg {
	background-image: url('../img/meettheteambg.png') !important;
	background-size: cover;
	background-position: 0px -130px;
}
.ion-android-arrow-dropright{
	font-size: 1.5rem;
	vertical-align: middle;
}
.spanbut{
	font-size: 1.3rem;
	vertical-align: middle;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	font-weight: bold;
	color: #eee;
}
.spanbut:hover{
	color: #dc092f;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #ebebeb;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background-color: #607279;
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 20px;
}
::-moz-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #ebebeb;
	border-radius: 20px;
}
::-moz-scrollbar-thumb {
	background-color: #607279;
	border-radius: 20px;
}
::-moz-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 20px;
}
::scrollbar {
	width: 6px;
	height: 6px;
	background-color: #ebebeb;
	border-radius: 20px;
}
::scrollbar-thumb {
	background-color: #607279;
	border-radius: 20px;
}
::scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 20px;
}
body::scrollbar, body::scrollbar-thumb,body::scrollbar-track{
	display: none;
}
body::-webkit-scrollbar, body::-webkit-scrollbar-thumb,body::-webkit-scrollbar-track{
	display: none;
}
body::-moz-scrollbar, body::-moz-scrollbar-thumb,body::-moz-scrollbar-track{
	display: none;
}
.modal-body{
	overflow-y: auto !important;
	height: 74vh;
}
.work__link:hover{
	text-decoration: none;
}
@media(max-width: 769px){
	.work__tags{
		font-size: 0.9rem;
		width: 100%;
	text-decoration: none !important;
	}
	.ion-android-arrow-dropright{
		font-size: 1.5rem;
	}
}